<div layout="column">
    <div class="player-progress" position-controle>
        <md-progress-linear md-mode="buffer" value="{{$ctrl.getProgress()}}" md-buffer-value="{{$ctrl.getLoadingPercent()}}"></md-progress-linear>
    </div>
    <div class="player-action" layout="row" layout-align="center">
        <div class="padding-left-20" flex layout="row" layout-align="start center">
            <img ng-src="/covers/albums/small-{{$ctrl.getCurrentSong().albumId}}" ng-show="$ctrl.getCurrentSong().albumId" class="smallAlbumCover margin-right-10"></img>
            <div class="song-panel font-white" ng-if="$ctrl.getCurrentSong()">
                <p>{{$ctrl.getCurrentSong().artistName + ' - ' + $ctrl.getCurrentSong().title}}</p>
                <p>{{$ctrl.getCurrentSong().albumName}}</p>
            </div>
        </div>
        <md-button previous-music class="no-margin">
            <md-icon>skip_previous</md-icon>
        </md-button>
        <md-button play-music ng-if="!$ctrl.isPlaying()" class="no-margin">
            <md-icon>play_circle_outline</md-icon>
        </md-button>
        <md-button pause-music ng-if="$ctrl.isPlaying()" class="no-margin">
            <md-icon>pause_circle_outline</md-icon>
        </md-button>
        <md-button next-music class="no-margin">
            <md-icon>skip_next</md-icon>
        </md-button>
        <md-button repeat-music class="no-margin">
            <md-icon ng-class="{ 'font-orange' : $ctrl.isRepeating() }" ng-if="!$ctrl.isRepeatingOne()">repeat</md-icon>
            <md-icon class="font-orange" ng-if="$ctrl.isRepeatingOne()">repeat_one</md-icon>
        </md-button>
        <md-button class="no-margin" mute-music>
            <md-icon ng-if="!$ctrl.isMuted()">volume_up</md-icon>
            <md-icon ng-if="$ctrl.isMuted()">volume_off</md-icon>
        </md-button>
        <md-slider-container>
            <md-slider flex min="0" max="100" ng-model="$ctrl.volume" ng-change="$ctrl.volumeChange()"></md-slider>
        </md-slider-container>
        <div layout="row" layout-align="end" flex>
            <md-button class="no-margin" ng-click="$ctrl.openPlaylist()">
                <md-tooltip md-direction="top">Playlist</md-tooltip>
                <md-icon>queue_music</md-icon>
            </md-button>
        </div>
    </div>
</div>