@import "../lessvars";
.soundlink {
  button {
    &.md-button {
      background-color: transparent;
      md-icon {
        color: white;
      }
      &.bordered {
        background-color: white;
        border: 1px solid @secondary-color;
        color: @secondary-color;
        md-icon {
          color: @secondary-color;
        }
      }
      &.small {
        min-width: 50px;
        width: 50px;
        margin: 2px;
      }
    }
  }
  button:hover {
    &.md-button.md-raised {
      box-shadow: 0 2px 5px 0 rgba(255, 128, 0, 0.8);
    }
    &.md-button {
      md-icon {
        color: @primary-color;
      }
      span {
        color: @primary-color;
      }
      &.bordered {
        border: 1px solid @primary-color;
        md-icon {
          color: @primary-color;
        }
      }
    }
  }
}