@import "../lessvars";
.soundlink {
  md-icon {
    outline: none;
    &.small {
      font-size: 20px;
      height: 20px;
      width: 20px;
      min-height: 20px;
      min-width: 20px;
    }
    &:hover {
      &.button {
        cursor: pointer;
        cursor: hand;
        color: @primary-color;
      }
    }
    &.secondary-color {
      color: @secondary-color;
    }
    &.selected {
      color: darkorange;
    }
  }
}