@import "../lessvars";
.soundlink {
  md-input-container {
    margin: 0px;
    input {
      background-color: white !important;
    }
    label {
      color : @orange-color !important;
    }
    &.last-container{
      height : 34px;
    }
  }
}