  @import "../lessvars";
  @bar-height : 6px;
  .soundlink {
    md-progress-linear {
      height: @bar-height;
      .md-container {
        height: @bar-height;
        .md-bar {
          height: @bar-height;
          background-color: @orange-color;
          &.md-bar1 {
            background-color: @orange-color;
            transition : none;
            transition-duration: 0ms;
          }
          &.md-bar2 {
            background-color: @blue-content;
            transition : none;
            transition-duration: 0ms;
          }
        }
      }
    }
    path {
      stroke: @orange-color;
    }
  }