@import "../lessvars";
.soundlink {
  md-slider-container {
    md-slider {
      height: 45px;
      .md-slider-wrapper {
        .md-slider-content {
          .md-track-container {
            .md-track-fill {
              background-color: white;
            }
          }
          .md-thumb-container {
            .md-thumb::after {
              background-color: white;
              border-color: white;
            }
          }
        }
      }
      &.md-active {
        .md-slider-wrapper {
          .md-slider-content {
            .md-thumb-container {
              .md-thumb::after {
                background-color: @primary-color;
                border-color: @primary-color;
              }
            }
          }
        }
      }
    }
  }
}