@import "../lessvars";
.soundlink {
  md-toolbar {
    max-height: 40px;
    min-height: 40px;
    &.md-raised {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    .md-toolbar-tools {
      max-height: 50px;
    }
    &.page-header {
      background-color: transparent;
      color: @orange-color;
    }
    &.big-title-header {
      background-color: transparent;
      max-height: 150px;
      color: @orange-color;
      .md-toolbar-tools {
        max-height: 150px;
        font-size : 4em;
        margin-bottom: 40px;
      }
    }
    &.sub-header {
      background-color: transparent;
      color: @orange-color;
      margin-bottom: 10px;
    }
  }
}