<md-toolbar class="page-header">
    <div class="md-toolbar-tools">
        <span>Albums</span>
        <span flex></span>
        <md-button ng-click="$ctrl.getAlbums()">
            <md-icon>cached</md-icon>
            <md-tooltip>
                Reload
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<div class="albumList" ng-cloack>
    <md-card ng-repeat="album in ::$ctrl.albums | filter: $ctrl.albumFilter" class="md-small show-detail-item">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">{{ ::album.artisteName }}</span>
            </md-card-header-text>
            <!--<md-icon class="button"> list </md-icon>-->
        </md-card-header>
        <img ng-click="$ctrl.showAlbumMusics(album)" show-detail ng-src="data:image/JPEG;base64,{{::album.cover}}" class="md-card-image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead">{{::album.name }}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>