<md-toolbar class="page-header">
    <div class="md-toolbar-tools">
        <span>Artistes</span>
    </div>
</md-toolbar>

<!--<md-nav-bar ng-if="$ctrl.integrationdatas != null">
    <md-nav-item md-nav-sref="soundlink.integration.artistes">Artistes</md-nav-item>
    <md-nav-item md-nav-sref="soundlink.integration.errors">Errors</md-nav-item>
  </md-nav-bar>-->

<div class="albumList">
    <md-card ng-repeat="artiste in ::$ctrl.artistes" class="md-small show-detail-item">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">{{ ::artiste.name }}</span>
            </md-card-header-text>
        </md-card-header>
        <img ng-src="data:image/JPEG;base64,{{::album.cover}}" class="md-card-image">
    </md-card>
</div>