<header layout="row">
    <md-toolbar class="md-raised">
        <div class="md-toolbar-tools">
            <md-button ng-click="$ctrl.toggleMenu()">
                <md-icon>menu</md-icon>
                <md-tooltip ng-if="!$ctrl.menuOpen">
                    Open menu
                </md-tooltip>
                <md-tooltip ng-if="$ctrl.menuOpen">
                    Close menu
                </md-tooltip>
            </md-button>
            <span class="title font-orange">SoundLink</span>
            <span flex></span>
            <span>
                <img ng-src="data:image/JPEG;base64,{{$ctrl.getUserInformation().picture}}" class="headerProfilePicture">
            </span>
            <span class="margin-left-15">
                {{$ctrl.getUserInformation().login}}
            </span>
            <md-button ng-click="$ctrl.logout()">
                <md-icon>power_settings_new</md-icon>
                <md-tooltip>
                    Logout
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
</header>