<header layout="row">
    <md-toolbar class="md-raised">
        <div class="md-toolbar-tools">
            <md-button role="none" ng-click="$ctrl.toggleMenu()">
                <md-icon>menu</md-icon>
                <md-tooltip ng-if="!$ctrl.menuOpen">
                    Open menu
                </md-tooltip>
                <md-tooltip ng-if="$ctrl.menuOpen">
                    Close menu
                </md-tooltip>
            </md-button>
            <span class="title ">SoundLink</span>
            <span flex></span>
        </div>
    </md-toolbar>
</header>