<header layout="row">
    <md-button class="md-raised" ng-click="$ctrl.showMenu()">
        <md-icon>menu</md-icon>
    </md-button>
    <md-toolbar class="md-raised">
        <div class="md-toolbar-tools">
            <span class="margin-left-10 font-orange">SoundLink</span>
            <span flex></span>
            <md-menu md-offset="0 -5">
                <md-button ng-click="$ctrl.openMenu($mdOpenMenu, ev)">
                    <md-icon>menu</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in $ctrl.getMenuItems()">
                        <md-button ng-click="item.action()"><span md-menu-align-target></span> {{item.libelle}} </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</header>