<div layout="column" flex ng-class="{ 'reduce' : !$ctrl.isMenuExpanded()}">
    <md-toolbar class="page-header" layout="row" layout-align="start center">
        <md-icon class="button" ng-click="$ctrl.toggleMenu()" ng-if="$ctrl.isMenuExpanded()">chevron_left</md-icon>
        <md-icon class="button" ng-click="$ctrl.toggleMenu()" ng-if="!$ctrl.isMenuExpanded()">chevron_right</md-icon>
        <div class="font-orange">Soundlink</div>
    </md-toolbar>
    <a layout="row" layout-align="start center">
        <img ng-src="data:image/JPEG;base64,{{$ctrl.getUserInformation().picture}}" class="headerProfilePicture"></img>
        <span>{{$ctrl.getUserInformation().login}}</span>
    </a>
    <a ui-sref="soundlink.search" layout="row" layout-align="start center">
        <md-icon> search </md-icon>
        <span> Search </span>
    </a>
    <a ui-sref="soundlink.myartistes" layout="row" layout-align="start center">
        <md-icon> star </md-icon>
        <span> My Artistes </span>
    </a>
    <a ui-sref="soundlink.myalbums" layout="row" layout-align="start center">
        <md-icon> album </md-icon>
        <span> My Albums </span>
    </a>
    <a ui-sref="soundlink.myplaylists" layout="row" layout-align="start center">
        <md-icon> library_music </md-icon>
        <span> My Playlist </span>
    </a>
    <a ui-sref="soundlink.userprofile" layout="row" layout-align="start center">
        <md-icon> portrait </md-icon>
        <span> Profile </span>
    </a>
    <a ui-sref="soundlink.integration" layout="row" layout-align="start center">
        <md-icon> file_download </md-icon>
        <span> Integration </span>
    </a>
    <a layout="row" layout-align="start center">
        <md-switch ng-model="$ctrl.remoteControl" ng-change="$ctrl.remoteControlChanged()" aria-label="Remote control">
            Remote control
        </md-switch>
    </a>
    <a></a>
    <a ui-sref="soundlink.integration" layout="row" layout-align="start center" ng-click="$ctrl.logout()">
        <md-icon>power_settings_new</md-icon>
        <span> Logout </span>
    </a>
</div>