<div layout="column" flex ng-show="$ctrl.showMenu">
    <md-button class="md-raised" ng-class="{currentUrl : $ctrl.isCurrentUrl('soundlink.artistes')}">
        <md-icon> library_music </md-icon>
    </md-button>
    <md-button class="md-raised" ng-class="{currentUrl : $ctrl.isCurrentUrl('soundlink.albums')}">
        <md-icon> queue_music </md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.loadMusics()">
        <md-icon> file_download </md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.loadMusics()">
        <md-icon> settings </md-icon>
    </md-button>
</div>