<md-content class="md-padding">
  <md-list>
    <md-list-item ng-repeat-start="artiste in ::$ctrl.artistes" ng-click="artiste.open = !artiste.open" class="noright">
      <md-checkbox class="md-secondary" ng-model="artiste.selected" ng-change="$ctrl.selectArtisteChange(artiste)"></md-checkbox>
      <p>{{ ::artiste.name }}</p>
    </md-list-item>
    <md-divider></md-divider>
    <div ng-repeat-end ng-if="artiste.open">

      <md-list-item ng-repeat-start="album in ::artiste.albums" class="md-2-line level2" ng-click="album.open = !album.open">
        <img ng-src="data:image/JPEG;base64,{{::album.cover}}" class="md-image"></img>
        <div class="md-list-item-text" layout="column">
          <h3>{{ ::album.name }}</h3>
          <p>{{ ::album.bitRate }} - {{ ::album.extension}}</p>
        </div>
        <md-checkbox class="md-secondary" ng-model="album.selected" ng-change="$ctrl.selectAlbumChange(artiste)"></md-checkbox>
      </md-list-item>

      <md-divider class="level2"></md-divider>
      <div ng-repeat-end layout="row" ng-if="album.open" flex>
        <div ng-repeat-end class="music-table" flex>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>N°</th>
                <th>Duration</th>
                <th>Byte Rate</th>
                <th>File</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="music in ::album.musics" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
                <td flex>{{::music.title}}</td>
                <td class="tight-column center" >{{::music.trackNumber}}</td>
                <td>{{::music.durationInSeconde | minute}}</td>
                <td>{{::music.bitRate}}</td>
                <td class="tight-column center">
                  <md-icon>attach_file
                    <md-tooltip>{{::music.musicFilePath}}</md-tooltip>
                  </md-icon>
                </td>
                <td class="tight-column center" > {{::music.musicFileSize}} </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </md-list>
</md-content>