page-playlists {
  
  .playlistItem {
    width: 95px;
    height: 85px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    padding : 0px;

    &.new {
      border: 1px solid gray;
      border-radius: 5px;
      text-align: center;
      font-size : 5em;
    }

    &::active {
      border: 1px solid red;
    }

    ion-icon {
      width: 60px;
      width: 60px;
    }
  }

}
