<md-toolbar class="navbar">
  <div class="md-toolbar-tools"><span>My Artistes</span></div>
</md-toolbar>

<div class="inline-container scrollable">
  <div class="cover artiste-item" ng-repeat="artiste in $ctrl.artistes">
        <div class="cover-content">
            <img ng-src="/covers/artistes/{{::artiste.id}}" class="md-card-image">
            <div show-albums-liste ng-click="$ctrl.selectArtiste(artiste)"
            layout="column" layout-align="start end" class="cover-icons">
                <md-icon class="button secondary-color" ng-click="$ctrl.removeArtisteFromUser(artiste)" no-propagation>close</md-icon>
                <md-icon class="button secondary-color" no-propagation>play_arrow</md-icon>
            </div>
        </div>
        <div class="cover-text" ng-click="$ctrl.selectArtiste(artiste)" show-albums-liste>
            <span>{{::artiste.name }}</span>
        </div>
    </div>
</div>