<div class="artisteAlbumsList sub-content album-item" layout="row" layout-align="start">
    <div style="width : 400px" layout="column">
        <div class="albums-list">
            <md-card ng-click="$ctrl.selectAlbum(album)" ng-repeat="album in ::$ctrl.albums" class="md-small">
                <img ng-src="data:image/JPEG;base64,{{::album.cover}}" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-subhead">{{::album.name }}</div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
    <div class="music-table" flex>
        <table>
            <thead>
                <tr>
                    <th class="tight-column"></th>
                    <th class="tight-column"></th>
                    <th flex>Title</th>
                    <th class="tight-column">N°</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="music in $ctrl.albumSongs">
                    <td class="tight-column center">
                        <md-icon class="button small" add-play-music="::music">play_circle_filled</md-icon>
                    </td>
                    <td class="tight-column center">
                        <md-icon class="button small" add-music="::music"> add_circle </md-icon>
                    </td>
                    <td class="font-13">{{::music.title}}</td>
                    <td class="tight-column center font-13">{{::music.trackNumber}}</td>
                    <td class="tight-column center font-13">{{::music.durationInSeconde | minute}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>