<md-toolbar class="navbar">
    <div class="md-toolbar-tools">
        <span>My Albums</span>
    </div>
</md-toolbar>

<div class="inline-container scrollable">
  <div class="cover album-item" ng-repeat="album in $ctrl.albums">
        <div class="cover-content" >
            <img ng-src="/covers/albums/{{::album.id}}" class="md-card-image">
            <div show-album-musics-liste ng-click="$ctrl.selectAlbum(album)" layout="column" layout-align="start end" class="cover-icons">
                <md-icon class="button secondary-color" ng-click="$ctrl.removeAlbumFromUser(album)" no-propagation>close</md-icon>
                <md-icon class="button secondary-color" no-propagation>play_arrow</md-icon>
            </div>
        </div>
        <div class="cover-text" show-album-musics-liste>
            <span>{{::album.name }}</span>
        </div>
    </div>
</div>