page-albums {
  ion-list {
    padding-top: 5px;
    .item {
      ion-thumbnail {
          min-width : 55px;
          min-height: 55px;
        &[item-left]{
        margin : 3px 16px 3px 0;
        }
        img{
          width : 55px;
          height: 55px;
        }
      }
    }
  }
}
