.layout-row {
  display: flex;
  align-items: stretch;
  flex-direction: row;

  &.flex {
    height: 100%;
  }

  &.vcenter {
    align-items: center;
  }
}

.layout-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.flex {
    height: 100%;
  }
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.flex {
  flex: 1;
}
