h2 {
  color: map-get($colors, primary);
}

.text-center {
  text-align: center;
}

.divider{
  color : lightgrey;
  border-bottom : 1px solid map-get($colors, primary);
  padding-bottom : 5px;

  span {
    margin-right: 20px;
  }
}

.large-icon{
  font-size : 5em;
}

.inset-box{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26) inset;
}

ion-header {
  .toolbar {
    .toolbar-background {
      background-color: #2C3E50;
    }

    .toolbar-content {
      .toolbar-title {
        color: white;
        text-align: center;
      }
    }

    .back-button {
      .button-inner {
        color: map-get($colors, primary);
      }
    }
  }
}

ion-toggle {
  //Android
  &.toggle-md {
    padding: 0 0 0 5px;
    .toggle-icon {
      width: 46px;
      height: 26px;

      .toggle-inner {
        top: 1px;
        left: 3px;
        width: 25px;
        height: 23px;
      }
    }
  }
  //Iphone
  &.toggle-ios {
    .toggle-icon {
      width: 46px;
      height: 26px;

      .toggle-inner {
        top: 1px;
        left: 2px;
        width: 25px;
        height: 23px;
      }
    }
  }
}
