<div ng-show="$ctrl.showPlaylist" layout="column" layout-align=" stretch" flex>
  <md-toolbar class="page-header">
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <span flex>Playlist</span>
      <md-button class="bordered small" ng-click="$ctrl.createPlaylist()">
        <md-icon>playlist_add</md-icon>
        <md-tooltip md-direction="bottom">New Playlist</md-tooltip>
      </md-button>
      <md-button class="bordered small" ng-click="$ctrl.extractPlaylist()">
        <md-icon>save</md-icon>
        <md-tooltip md-direction="bottom">Extract Playlist</md-tooltip>
      </md-button>
      <md-button class="bordered small" ng-click="$ctrl.clearPlaylist()">
        <md-icon >clear_all</md-icon>
        <md-tooltip md-direction="bottom">Clear Playlist</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-input-container>
    <md-select ng-model="$ctrl.selectedPlaylist" ng-change="$ctrl.onPlaylistSelected()" placeholder="Playlist">
      <md-option ng-value="playlist" ng-repeat="playlist in $ctrl.getPlaylists()">{{ playlist.name }}</md-option>
    </md-select>
  </md-input-container>
  <md-divider></md-divider>
  <md-list flex class="scrollable">
    <md-list-item class="md-2-line" ng-repeat="music in $ctrl.getPlaylist()" ng-class="{ 'selected' : $ctrl.getCurrentSong().id == music.id}">
      <div layout="row" layout-align="space-between center" flex>
        <img ng-src="/covers/albums/small-{{music.albumId}}" class="smallAlbumCover margin-right-10">
        <div class="md-list-item-text" play-music="::music" flex>
          <h3>{{::music.title}}</h3>
          <p>{{::music.artistName }}</p>
        </div>
        <md-icon class="button small" ng-click="::$ctrl.removeFromPlaylist(music)">
          close
        </md-icon>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>

</div>