<md-toolbar class="page-header">
  <div class="md-toolbar-tools">
    <span>User profil</span>
  </div>
</md-toolbar>
<div layout="row" class="sub-content">
  <div layout="column" flex="30">
    <div layout="row" layout-align="center center">
      <img ng-src="data:image/JPEG;base64,{{$ctrl.userInformation.picture}}" class="profilePicture">
    </div>
    <div layout="column" layout-align="end end" flex>
      <md-button class="md-raised" ng-click="$ctrl.clickUpload()">
        <md-icon>file_upload</md-icon>
      </md-button>
      <input type="file" id="upload-picture" ng-hide="true" file-change="$ctrl.uploadPicture" accept="image/*">
    </div>
  </div>
  <div layout="column" layout-align="center" flex="50" layout-padding>
    <md-input-container>
      <label>Login</label>
      <input type="text" ng-model="$ctrl.userInformation.login" disabled />
    </md-input-container>
    <md-input-container disabled>
      <label>Email</label>
      <input type="text" ng-model="$ctrl.userInformation.email" />
    </md-input-container>
    <md-input-container>
      <label>Current password</label>
      <input type="text" ng-model="$ctrl.userInformation.currentPassword" />
    </md-input-container>
    <md-input-container>
      <label>New password</label>
      <input type="text" ng-model="$ctrl.userInformation.newPassword" />
    </md-input-container>
    <md-input-container class="last-container">
      <label>Confirm password</label>
      <input type="text" ng-model="$ctrl.userInformation.confirmPassword" />
    </md-input-container>
  </div>
</div>

<div layout="row" layout-align="center">
  <md-button class="md-raised" ng-click="$ctrl.saveUserInformation()">Save</md-button>
</div>