@import "lessvars";
.soundlink {
  soundlink-header {
    md-toolbar{
      background-color: @blue-bottom;
      box-shadow: inherit;
      border-bottom: 1px solid @orange-color; 
    }
    .headerProfilePicture {
      max-height: 30px;
      max-width: 30px;
    }
  }
}