@red-color : firebrick;
@orange-color : darkorange;
@blue-color : royalblue;
@black-color : #b9b9b9;
@light-grey-color : #90a4ae;
@white-color : white;
 
@blue-grey-light1 : #eceff1;
@blue-grey-light2 : #cfd8dc;
@blue-grey-light3 : #b0bec5;
@blue-grey1 : #90a4ae;
@blue-grey2 : #78909c;
@blue-grey3 : #607d8b;
@blue-grey-dark1 : #546e7a;
@blue-grey-dark2 : #455a64;
@blue-grey-dark3 : #37474f;
@blue-grey-dark4 : #263238; 

@indigo-lighten-5 : #e8eaf6; 
@indigo-lighten-4 : #c5cae9;
@indigo-lighten-3 : #9fa8da;
@indigo-lighten-2 : #7986cb;
@indigo-lighten-1 : #5c6bc0;
@indigo : #3f51b5;
@indigo-darken-1 : #3949ab;
@indigo-darken-2 : #303f9f;
@indigo-darken-3 : #283593;
@indigo-darken-4 : #1a237e;

@rgb-drop : rgba(50,50,100,0.7);

.no-border() {
    border-top : none;
    border-right : none;
    border-left : none;
}