@import "lessvars";
html {
    font-family: Arial, Helvetica, sans-serif;
}

.contenu {
    background-color: @blue-grey-light3;
}

.content {
    margin: 6px 6px 6px 6px;
    padding: 10px 15px 5px 5px;
    background-color : @white-color;
}

.sub-content {
    padding: 10px 10px 10px 10px;
}

.profilePicture {
    max-height: 200px;
    max-width: 200px;
}

.audio-player{
    margin-left : 6px;
    margin-right: 6px;
}

.albumCover {
     max-height: 200px;
     max-width: 100px;
}

.headerProfilePicture {
    max-height: 30px;
    max-width: 30px;
}

.menu {
    width : 100px !important;
}