@import "lessvars";
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #EEEEEE;
}

md-content {
    background-color: inherit;
}

.main-content{
 overflow-y : auto;
}

.content {
    padding: 5px 5px 5px 5px;
}

.sub-content {
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26) inset;
}

.action-content {
    background-color: @white-blue;
}

.profilePicture {
    max-height: 200px;
    max-width: 200px;
}

.albumCover {
    max-height: 200px;
    max-width: 200px;
}

.smallAlbumCover {
    max-height: 40px;
    max-width: 40px;
}

.song-panel {
    h3 {
        margin : 0px;
    }
    p {
        margin : 0px;
        font-size : 13px;
    }
}