@import "lessvars";

.soundlink{

  md-input-container {
    margin : 0px;

    input {
      background-color : white !important;
    }

  }

  md-toolbar {
    background-color : @indigo;
    max-height: 50px;
    min-height: 50px;

    margin-top : 3px;
    border-radius : 5px;

    &.md-raised{
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    .md-toolbar-tools {
      max-height: 50px;
    }
  }

}