@import "lessvars";
@import "./components/md-toolbar.less";
@import "./components/md-button.less";
@import "./components/md-slider.less";
@import "./components/md-input.less";
@import "./components/md-progress-linear.less";
@import "./components/md-card.less";
@import "./components/md-tooltip.less";
@import "./components/md-icon.less";
.soundlink {
  md-list {
    .md-image {
      margin-top: 0px;
      max-height: 40px;
      padding-right: 10px;
    }
    .level2 {
      margin-left: 20px;
    }
  }
  md-checkbox {
    &.md-checked {
      .md-icon {
        background-color: @orange-color;
      }
    }
  }
  md-divider {
    background-color: @orange-color;
  }
  header {
    md-fab-speed-dial {
      &.md-fab-top-left {
        top: 0px;
        left: 0px;
      }
    }
    .title {
      margin-left: 100px;
    }
  }
  md-tabs {
    md-ink-bar {
      background-color: @orange-color;
    }
  }
  md-nav-bar {
    .md-nav-item {
      a {
        color: @orange-color;
      }
    }
    md-nav-ink-bar {
      background-color: @orange-color;
    }
  }
  .progress-panel {
    position: relative;
    label {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      right: 0;
      top: 40%;
      bottom: 0;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
    }
  }
}