@import "lessvars";

@menuButton_width : 70px;
@menuButton-height : 70px;

.menu {
    width : 110px;
    // height : 100%;
    // background-color : @blue-grey3;
    
    // position : fixed;
    // left : 0;
    // top : 0;
    // z-index : 1;
    
    margin-top : 47px;
    margin-right : 15px;
    padding-top : 10px;
    
    filter : drop-shadow(2px 6px 2px rgba(0,0,0,0.3));
}

// .menuButton {
//     margin-left : 15px;
//     filter : drop-shadow(1px 0px 1px @red-color);
// }

// .menuButton svg {
//     width : @menuButton_width;
//     height: @menuButton-height;
//     fill : @light-grey-color;
// }

// .menuButton svg:hover{
//     fill : @blue-color;
// }

// .menu .currentUrl {
//     background-color : @light-grey-color;
// }

// .menu .currentUrl svg {
//     fill : @black-color;
// }