@import "lessvars";
@table-border : 1px solid @primary-color;
.music-table {
  .header {
    padding-left : 15px;
    font-size: 15px;
    color: @secondary-color;
    text-align: left;
    &.tight {
      padding: 0 0 0 0 !important;
      max-width: 50px;
      width: 50px;
    }
    &.center{
      text-align: center;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    .md-button {
      min-width: 60px;
      min-height: 30px;
    }
    thead {
      tr {
        height: 39px;
        th {
          text-align: left;
          font-size: 15px;
          color: @primary-color;
          font-weight: normal;
          padding: 0px 0px 0px 15px;
          border-bottom: @table-border;
          &.tight-column {
            max-width: 60px;
            width: 60px;
            text-align: left;
            padding: 0 0 0 0 !important;
          }
          &.center {
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        // &:nth-child(even) {
        //   background-color: @thirdly-color-blue
        // }
        // &:nth-child(odd) {
        // }
        height: 25px;
        &:hover {
          background-color: white;
        }
        .md-button {
          md-icon {
            color: @primary-color;
          }
        }
      }
      td {
        &.center {
          text-align: center;
        }
        height: 20px;
        padding-left: 15px;
        &.tight-column {
          max-width: 50px;
          width: 50px;
          padding: 0 0 0 0 !important;
        }
      }
    }
  }
}