@import "lessvars";
soundlink-playlist {
  md-content {
    width: 300px !important;
    padding-right: 5px;
    md-list {
      padding-top: 0px;
      md-list-item {
        &.md-2-line {
          height: 45px;
          min-height: 45px;
        }
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
        .md-list-item-text {
          p {
            font-size: 13px;
          }
          h3 {
            font-size: 15px;
          }
        }
      }
    }
  }
}