@import "lessvars";
soundlink-playlist {
  & > div {
    width: 300px !important;
    padding-right: 5px;
    md-list {
      overflow-y: auto;
      padding-top: 0px;
      md-list-item {
        margin-top: 3px;
        margin-bottom: 3px;
        &.md-no-proxy {
          padding-bottom: 2px;
        }
        &.md-2-line {
          height: 35px;
          min-height: 35px;
          .md-list-item-text {
            &:hover {
              cursor: hand;
            }
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}