<md-toolbar class="navbar">
    <div class="md-toolbar-tools">
        <span>My Playlists</span>
    </div>
</md-toolbar>

<div class="inline-container scrollable">
    <div class="cover playlist-item" ng-repeat="playlist in $ctrl.playlists">
        <div class="cover-content">
            <img ng-src="/covers/playlists/{{::playlist.id}}" class="md-card-image">
            <div show-playlist-musics-liste ng-click="$ctrl.selectPlaylist(playlist)" layout="column" layout-align="start end" class="cover-icons">
                <md-icon class="button secondary-color" ng-click="$ctrl.deletePlaylist(playlist)" no-propagation>close</md-icon>
                <md-icon class="button secondary-color" no-propagation>play_arrow</md-icon>
            </div>
        </div>
        <div class="cover-text" ng-click="$ctrl.selectPlaylist(playlist)" show-playlist-musics-liste>
            <span>{{::playlist.name }}</span>
        </div>
    </div>
</div>